@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* Microsoft icon cdn */

@font-face {
    font-family: "SPO365Icons";
    src: url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.eot");
    src: url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.eot?#iefix") format("embedded-opentype"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.woff") format("woff"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.ttf") format("truetype"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.svg#web") format("svg");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.custom-logo {
    width: 5% !important;
}



/* Media Queries */

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .web-text {
        margin: 0;
        padding: 0;
        box-sizing: none;
        font-size: .55em;
    }
    .fa-microphone {
        font-size: .75em;
    
    }

    .fa-search {
        font-size: .75em;
    }

    .custom-logo {
        width: 15% !important;
    }
    
}



@media only screen and (max-width: 800px){
    /*Tablets [601px -> 1200px]*/
    .web-text {
        font-size: .75em;
    }
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .web-text {
        font-size: .55em;
    }
}

@media only screen and (max-width: 300px){
    .web-text {
        padding: 0;
        box-sizing: none;
        font-size: .29em;
    }

    .fa-microphone {
        font-size: .35em;
        
    }

    .fa-search {
        font-size: .35em;
    }
}

/* Styling Sibongile with Google colors */

h1 span:nth-child(1){
    color: #4285F4;
}
h1 span:nth-child(2){
    color: #EA4335;
    
}
h1 span:nth-child(3){
    color: rgb(251,188,5);
}
h1 span:nth-child(4){
    color: rgb(72,137,244);
}
h1 span:nth-child(5){
    color: rgb(52,168,83);
}
h1 span:nth-child(6){
    color: rgb(234,67,53);
}
h1 span:nth-child(7){
    color: #4285F4;
}
h1 span:nth-child(8){
    color: #EA4335;
}
h1 span:nth-child(9){
    color: rgb(251,188,5);
}

/* h2 title with google colors */

h2 span:nth-child(1){
    color: #4285F4;
}
h2 span:nth-child(2){
    color: #EA4335;
    
}
h2 span:nth-child(3){
    color: rgb(251,188,5);
}
h2 span:nth-child(4){
    color: rgb(72,137,244);
}
h2 span:nth-child(5){
    color: rgb(52,168,83);
}
h2 span:nth-child(6){
    color: rgb(234,67,53);
}
h2 span:nth-child(7){
    color: #4285F4;
}
h2 span:nth-child(8){
    color: #EA4335;
}
h2 span:nth-child(9){
    color: rgb(251,188,5);
}

h2 span:nth-child(10){
    color: #4285F4;
}
h2 span:nth-child(11){
    color: #EA4335;
    
}
h2 span:nth-child(12){
    color: rgb(251,188,5);
}
h2 span:nth-child(13){
    color: rgb(72,137,244);
}
h2 span:nth-child(14){
    color: rgb(52,168,83);
}
h2 span:nth-child(15){
    color: rgb(234,67,53);
}
h2 span:nth-child(16){
    color: #4285F4;
}

.web-text {
    margin: 0;
    padding: 0;
    box-sizing: none;
    color: black;
    text-transform: uppercase;
}

/* Carousel */

.myimage {
    width: 35%;
    aspect-ratio: 1;
    -o-object-fit: cover;
       object-fit: cover;
     -o-object-position: 20px 0px 0px 0px;
       object-position: 20px 0px 0px 0px; 
    border-radius: 50%;
  }

  .nav-circle {
    width: 15px !important;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 50% !important;
  }

  

.nav-circle:nth-child(1){
    background-color: #4285F4;
}
.nav-circle:nth-child(2){
    background-color: rgb(234,67,53);
}
.nav-circle:nth-child(3){
    background-color: rgb(251,188,5);
}


/* Other components */

.fa-microphone {
    color: blue;

}

/* Projects */

/* About style */


#about-me {
    scroll-margin: 110px;
}

#testimonials {
    scroll-margin: 110px;
}

#work {
    scroll-margin: 110px;
}

#skills {
    scroll-margin: 110px;
}

#contact {
    scroll-margin: 110px;
}

#nav-circle-center {
    margin: 0px 20px 0px 20px;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
    font-family: sans-serif;
    padding-top: 90px;
}

.skill-icon {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fas1, .fab1 {
    font-size: 3rem;
}

.skills-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.contact-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.submit-con {
    background: linear-gradient(to right, rgb(68,125,236, 0.6) 0%, rgb(234,67,53, 0.6) 20%, rgb(243,207,1, 0.6) 40%, rgb(68,125,236, 0.6) 60%, rgb(81, 165, 42, 0.6) 80%, rgb(234,67,53, 0.6) 100%) !important; 
}



/* Floating animation */


.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.floating-img { 
    width: 100%; 
    height: auto; 
}


/* Darkmode */

/* [data-theme="dark"] {
    background-color: #111 !important;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(255, 0, 0) !important;
    }
} */


.navbarCollapse {
    display: flex;
    justify-content: center;
}


















































/* #landing {
  background:  */
    /* top, transparent red, faked with gradient linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),*/ 
    /* bottom, image url(https://picsum.photos/1920/1200);*/ 
  /* background-size: cover;
  background-attachment: fixed;
} */

/* #landing h1 {
  font-family: "Satisfy", cursive;
  font-size: 4em;
}

.section-title {
  z-index: 2;
  position: relative;
  color: #c1c1c1;
  text-align: center;
  font-size: 3.3rem;
}

.section-title span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  top: 12px;
  font-size: 0.9em;
  z-index: 1;
}

h6 {
  text-align: center;
}

.experience-container {
  border-left: 3px solid black;
  padding-left: 20px;
  position: relative;
}

.experience-container::before {
  position: absolute;
  left: -10px;
  top: 0;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgb(248, 249, 250);
} */