@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* Microsoft icon cdn */

@font-face {
    font-family: "SPO365Icons";
    src: url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.eot");
    src: url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.eot?#iefix") format("embedded-opentype"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.woff") format("woff"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.ttf") format("truetype"), 
         url("//cdn.sharepointonline.com/14025/_layouts/15/fonts/Office365Icons.svg#web") format("svg");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* Blurry loading page */


body {
  
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: rgb(255, 0, 0);
}

/* Luyanda header */

.header {
	top: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	padding: 1% 10%;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	background: white;
}

.header .logo {
	height: 50px;
}

/* MENU BUTTON */
.header .menu-btn-container {
	z-index: 2;
	width: 50px;
	height: 50px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: flex-end;
}

.header .menu-btn-container .menu-btn {
	width: 30px;
	height: 3px;
	position: relative;
	background: rgb(251,188,5);
	transition: all 1s ease-in-out;
}

.header .menu-btn-container .menu-btn::before {
	right: 0;
	top: -10px;
	width: 50px;
	height: 3px;
	content: '';
	position: absolute;
	background: rgb(234,67,53);
	transition: all 1s ease-in-out;
}

.header .menu-btn-container .menu-btn::after {
	right: 0;
	width: 40px;
	height: 3px;
	content: '';
	bottom: -10px;
	position: absolute;
	background: rgb(72,137,244);
	transition: all 1s ease-in-out;
}

.header .menu-btn-container:hover .menu-btn {
	width: 50px;
}

.header .menu-btn-container:hover .menu-btn::after {
	width: 50px;
}

/* NAV BUTTON CONTAINER ACTIVE */
.header .menu-btn-container.active .menu-btn {
	background: rgb(52,168,83);
	background: transparent;
}

.header .menu-btn-container.active .menu-btn::before {
	top: 0;
	bottom: 0;
	background: rgb(52,168,83);
	transform: rotate(45deg);
}

.header .menu-btn-container.active .menu-btn::after {
	top: 0;
	bottom: 0;
	width: 50px;
	background: rgb(251,188,5);
	transform: rotate(315deg);
}

/* NAV CONTAINER */
.header .nav-container {
	top: 0;
	width: 50%;
	right: -150%;
	display: grid;
	position: fixed;
	cursor: pointer;
	min-width: 400px;
	min-height: 100vh;
	background: rgba(255, 255, 255, 0.938);
	place-content: center;
	transition: all .5s ease-in-out;
}

.header .nav-container.active {
	right: 0;
}

.header .nav-container .nav-list {
	list-style: none;
}

.header .nav-container .nav-list .nav-item {
	margin-bottom: 50px;
}

.header .nav-container .nav-list .nav-item a {
	padding: 15px;
	font-size: 2vw;
	font-weight: 300;
	position: relative;
	letter-spacing: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(72,137,244);
	transition: color .5s ease-in-out;
  	text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
}

.header .nav-container .nav-list .nav-item a::before {
	bottom: 0;
	left: -20px;
	content: '';
	width: 40px;
	height: 10%;
	position: absolute;
	background: #ecf0f1;
	transition: width .5s ease-in-out;
}

.header .nav-container .nav-list .nav-item:hover a {
	color: #ecf0f1;
}

.header .nav-container .nav-list .nav-item a:hover::before {
	width: 110%;
}
/* Luyanda header end */
















.custom-logo {
    width: 10% !important;
}


html, body {
    overflow: hidden;
}




/* Media Queries */

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .web-text {
        margin: 0;
        padding: 0;
        box-sizing: none;
        font-size: .55em;
    }
    .fa-microphone {
        font-size: .75em;
    
    }

    .fa-search {
        font-size: .75em;
    }

    .custom-logo {
        width: 15% !important;
    }
    
}

@media only screen and (max-width:750px){
    .side-menu{
        visibility: hidden;
    }
}




@media only screen and (max-width: 800px){
    /*Tablets [601px -> 1200px]*/
    .web-text {
        font-size: .75em;
    }
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .web-text {
        font-size: .55em;
    }
}

@media only screen and (max-width: 300px){
    .web-text {
        padding: 0;
        box-sizing: none;
        font-size: .29em;
    }

    .fa-microphone {
        font-size: .35em;
        
    }

    .fa-search {
        font-size: .35em;
    }
}

/* Styling Sibongile with Google colors */

h1 span:nth-child(1){
    color: #4285F4;
}
h1 span:nth-child(2){
    color: #EA4335;
    
}
h1 span:nth-child(3){
    color: rgb(251,188,5);
}
h1 span:nth-child(4){
    color: rgb(72,137,244);
}
h1 span:nth-child(5){
    color: rgb(52,168,83);
}
h1 span:nth-child(6){
    color: rgb(234,67,53);
}
h1 span:nth-child(7){
    color: #4285F4;
}
h1 span:nth-child(8){
    color: #EA4335;
}
h1 span:nth-child(9){
    color: rgb(251,188,5);
}

/* PROJECTS NAME ANIMATE */


/* h1 span {
    -webkit-animation: animate 3s linear 1;
            animation: animate 3s linear 1;
  }
  
  h1 span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
  h1 span:nth-child(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  h1 span:nth-child(3) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  
  h1 span:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  h1 span:nth-child(5) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
  }
  
  h1 span:nth-child(6) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  
  h1 span:nth-child(7) {
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
  }
  
  h1 span:nth-child(8) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  
  h1 span:nth-child(9) {
    -webkit-animation-delay: 2.25s;
            animation-delay: 2.25s;
  }
  
  h1 span:nth-child(10) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  h1 span:nth-child(11) {
    -webkit-animation-delay: 2.75s;
            animation-delay: 2.75s;
  }
  
  @-webkit-keyframes animate {
    0%, 100% {
      color: #fff;
      -webkit-filter: blur(2px);
              filter: blur(2px);
      text-shadow: 0 0 10px #003bff,
   0 0 20px #003bff,
   0 0 40px #003bff,
   0 0 800px #003bff,
   0 0 120px #003bff,
   0 0 200px #003bff,
   0 0 300px #003bff,
   0 0 400px #003bff;
    }
    5%, 95% {
      color: #242222;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      text-shadow: none;
    }
  } */

/* h2 title with google colors */

h2 span:nth-child(1){
    color: #4285F4;
}
h2 span:nth-child(2){
    color: #EA4335;
    
}
h2 span:nth-child(3){
    color: rgb(251,188,5);
}
h2 span:nth-child(4){
    color: rgb(72,137,244);
}
h2 span:nth-child(5){
    color: rgb(52,168,83);
}
h2 span:nth-child(6){
    color: rgb(234,67,53);
}
h2 span:nth-child(7){
    color: #4285F4;
}
h2 span:nth-child(8){
    color: #EA4335;
}
h2 span:nth-child(9){
    color: rgb(251,188,5);
}

h2 span:nth-child(10){
    color: #4285F4;
}
h2 span:nth-child(11){
    color: #EA4335;
    
}
h2 span:nth-child(12){
    color: rgb(251,188,5);
}
h2 span:nth-child(13){
    color: rgb(72,137,244);
}
h2 span:nth-child(14){
    color: rgb(52,168,83);
}
h2 span:nth-child(15){
    color: rgb(234,67,53);
}
h2 span:nth-child(16){
    color: #4285F4;
}

.web-text {
    margin: 0;
    padding: 0;
    box-sizing: none;
    color: black;
    text-transform: uppercase;
}

/* Carousel */

.myimage {
    width: 35%;
    aspect-ratio: 1;
    -o-object-fit: cover;
       object-fit: cover;
     -o-object-position: 20px 0px 0px 0px;
       object-position: 20px 0px 0px 0px; 
    border-radius: 50%;
  }

  .nav-circle {
    width: 15px !important;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 50% !important;
  }

  

.nav-circle:nth-child(1){
    background-color: #4285F4;
}
.nav-circle:nth-child(2){
    background-color: rgb(234,67,53);
}
.nav-circle:nth-child(3){
    background-color: rgb(251,188,5);
}


/* Other components */

.fa-microphone, .fa-search {
    color: blue;

}

.search-bar {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.232); 
    cursor: pointer;
    border: 0.6px solid rgba(128, 128, 128, 0.389);
}

.about_scroll {
    z-index: 300;
}

.zcontainer {
    z-index: 400;
}

.logo {
    cursor: pointer;
}
.logo:hover {
    transform: rotate(0.5turn) scale(.8);;
}



#skills {
    min-height: 100vh;
}

.home-btn:hover {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.232);
}

/* Projects */

/* About style */


#about-me {
    scroll-margin: 110px;
}

#testimonials {
    scroll-margin: 15px;
}

#work {
    scroll-margin: 20px;
}

#skills {
    scroll-margin: 50px;
}

#contact {
    scroll-margin: 110px;
}

#nav-circle-center {
    margin: 0px 20px 0px 20px;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
    font-family: sans-serif;
    padding-top: 90px;
}

.skill-icon {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fas1, .fab1 {
    font-size: 3rem;
}

.skills-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.contact-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-con {
    height:380px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.submit-con {
    background: linear-gradient(to right, rgb(255, 115, 0) 0%, rgba(255, 115, 0, 0.748) 20%, rgba(255, 115, 0, 0.496) 40%, rgba(255, 115, 0, 0.423) 60%, rgb(255, 115, 0) 80%, rgb(255, 115, 0) 100%) !important; 
}

.con-hover:hover {
    transform: scale(1.039);
    border: 1px solid rgb(72,137,244);
    transition: all 0.5s linear;
    cursor: pointer;
}


/* Floating animation */


.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.floating-img { 
    width: 100%; 
    height: auto; 
}


/* Darkmode */

/* [data-theme="dark"] {
    background-color: #111 !important;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(255, 0, 0) !important;
    }
} */


.navbarCollapse {
    display: flex;
    justify-content: center;
}


.side-menu {
    position: fixed;
    top: 300px;
    left: 0px;
}



.active1, .side-nav-link:hover {
    border: 1px solid #aaa7a7;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    border-radius: 50%;
    width: 50px;
    color: black !important;
}

.cover-about-me-img {
    object-fit: cover;
}


#side-menu{
    width: 50px;
}

/* Stamp */

/* .stamp {
    transform: rotate(12deg);
      color: #555;
      font-size: 3rem;
      font-weight: 700;
      border: 0.25rem solid #555;
      display: inline-block;
      padding: 0.25rem 1rem;
      text-transform: uppercase;
      border-radius: 1rem;
      font-family: 'Courier';
      -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
        -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
.is-nope {
    color: rgba(107, 99, 100, 0.305);
    border: 0.5rem double rgba(127, 120, 121, 0.392);
    transform: rotate(-9deg);
      -webkit-mask-position: 2rem 3rem;
    font-size: 2rem;
    position: absolute;
    top: 190px;
    left: 15px;  
  } */


  .glow:hover {
    box-shadow: 10px 5px 5px black;
  }